@import "../node_modules/tailwindcss/base.css";
@import "../node_modules/tailwindcss/components.css";
@import "../node_modules/tailwindcss/utilities.css";

.hide-scrollbar::-webkit-scrollbar {
    height: 0.25em;
    width: 4px;
    background-color: #e8e8e8;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(42, 42, 255);
    border-radius: 25px;
}