@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    height: 0.25em;
    width: 4px;
    background-color: #e8e8e8;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(42, 42, 255);
    border-radius: 25px;
}

.label {
    @apply absolute left-0 px-4 py-[10px] text-[grey] transition-all pointer-events-none group-focus-within:text-xs group-focus-within:-translate-y-2 group-focus-within:border-x group-focus-within:mx-4 group-focus-within:bg-white group-focus-within:px-2 group-focus-within:border-blue-500 group-focus-within:text-blue-500 group-focus-within:py-0;
}

.filled {
    @apply text-xs -translate-y-2 border-x mx-4 bg-white px-2 border-blue-500 text-blue-500 py-0;
}